.App {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid blue;
  }
  
  .label {
    font-size: 3.4rem;
  }
  
  button {
    background-color: blue;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    color: white;
  }
  
  input {
    display: inline;
    width: 200px;
    height: 35px;
    margin: 20px;
    font-size: 27px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  label {
    MARGIN-TOP: 60px;
    font-size: 25px;
  }
  
  .input {
    display: inline
  }
  
  .add {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 100PX;
  }
  
  .add th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: orange;
  }
  
  td, th {
    border-TOP: 1px solid #ddd;
    padding: 12px;
  }