.function {
    background-color: aqua;
    font-size: large;
    width: 50%;
    margin: 30px auto;
    height: 150px;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}

p {
    margin-top: 50px;
    padding-bottom: 0%;
}

.author {
    color: blue;
    padding: 5px;
    background-color: yellow;
    border-radius: 5px;
}

.label {
    color: tomato;
}
